body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: rgb(196, 92, 92);
}

#container
{
    width: 70%;
    padding: lem;
    text-align: left;
    border: 1px solid seagreen;
    margin: 0 auto;
}

#containerh1
{
    font-size: 70px;
}