body
{
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: rgb(12, 11, 11);
    background-color: gainsboro;
}

#header
{
    background: rgb(24, 66, 191);
    box-shadow: 0px 2px  20px 0px rgba(42, 41, 41, 0.62);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#header #logo
{
    width: 40px;
    vertical-align: middle;
}

#header #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0em;
    text-align: left;
    border: 1px solid rgb(9, 9, 9);
    margin: 0 auto;
}

#post
{
    background-color: aliceblue;
    padding: 1em;
}